<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>
      Dear paparazzi user,<br />
      Someone has requested to reset the password assigned to your email address. If you did not make such a request, please do not pay attention to this email. If you did make this request, please click the following link: 
      <%= link_to("Password reset", 
        :controller => :password_reminders, 
        :action => :show, 
        :secret => @password_reminder.secret,
        :only_path => false
        ) %><br />
      If the above URL does not work, get yourself a decent email client.
    </p>

  </body>
</html>
