body
{
}

#contents
{
  margin-left: 50px;
  margin-right: 50px;
}

.thumb
{
  float: left;
  margin: 15px;
  text-align: center;
}

.thumb .image
{
  width: 250px;
  height: 250px;
  display: table;
}
.thumb .image span
{
  display: table-cell;
  vertical-align: middle;
}
