<div id="user-form">
  <% if @user.nil? %>
    <%= link_to "Log In", "user/login" %>
    <%= link_to "Sign Up", "user/signup" %>
  <% else %>
    <%= link_to "Log out", "user/logout" %>
  <% end %>
</div>
